# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# Redis
REDIS_PASSWORD=
REDIS_TIMEOUT=2s

# Docker images (Spring Boot services)
PAYROLL_GENERATION_REQUEST_PUBLISHER_IMAGE=payroll-generation-request-publisher:latest
BOOT_PAYROLL_ORCHESTRATOR_IMAGE=boot-payroll-orchestrator-service:latest
SBOOT_PAYROLL_VALIDATION_IMAGE=sboot-payroll-validation-service:latest
SBOOT_PAYROLL_EVENTS_IMAGE=sboot-payroll-events-service:latest
SBOOT_TIME_TRACKING_INTEGRATION_IMAGE=sboot-time-tracking-integration-service:latest
SBOOT_PAYROLL_CALCULATION_IMAGE=sboot-payroll-calculation-service:latest
SBOOT_PAYROLL_GENERATION_PROCESSOR_IMAGE=sboot-payroll-generation-processor:latest
SBOOT_STATUS_GENERATION_IMAGE=sboot-stts-base-status-generation-file:latest
SBOOT_SECURITY_API_GATEWAY_IMAGE=sboot-security-base-api-gateway:latest
SBOOT_SECURITY_AUTH_IMAGE=sboot-security-base-auth-service:latest
SBOOT_PAYROLL_QUERY_IMAGE=sboot-payroll-query-service:latest
SBOOT_DATA_EMPLOYE_IMAGE=sboot-data-employe-serice:latest
SBOOT_DATA_COMPANY_IMAGE=sboot-data-company-serice:latest
